@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%;);
    --Blue: hsl(248, 32%, 49%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --font-style: 'Poppins', sans-serif;
}
.whiteFont{
    color: white;
    font-family: var(--font-style);
}

h1{

}

#about{

}

#about > p{

}

#takeInput{

}

#CTA{
    
}

.textInput{

}

button{

}

#terms{

}

a{

}